@model Project2023.Models.Course

@{
    ViewData["Title"] = " حذف مادة مشروع تخرج";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div>
    <h4>هل انت متاكد ؟</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt class = "col-sm-2">
            الدائرة
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseDept.DeptName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">الرجوع الى القائمة</a>
    </form>
</div>
